# URL pública da aplicação usada pelo NextAuth para gerar callbacks,
# cookies e redirecionamentos de login.
# Deve ser acessível pelo navegador do usuário.
NEXTAUTH_URL=http://localhost:3000

# Chave secreta usada pelo NextAuth para criptografar tokens JWT | e sessões. Em produção deve ser uma chave forte. | Pode gerar com: openssl rand -base64 32
NEXTAUTH_SECRET=secret_key

# FRONTEND URLs
# URL do frontend quando acessado INTERNAMENTE por containers Docker. | Containers se comunicam usando o nome do serviço definido | no docker-compose (neste caso "frontend").
NEXT_FRONTEND_URL=http://frontend:3000

# URL pública do frontend acessada pelo navegador do usuário. | Variáveis com NEXT_PUBLIC_ são expostas para o browser | e podem ser usadas em Client Components do Next.js.
NEXT_PUBLIC_FRONTEND_URL=http://localhost:3000



# BACKEND URLs
# URL do backend usada pelo servidor do Next.js | (Server Components, Route Handlers, Server Actions). | Como o Next.js roda dentro do container "frontend", 
# | ele acessa o backend usando o nome do serviço Docker.
NEXT_BACKEND_URL=http://backend:8000

# URL pública do backend acessada pelo navegador do usuário. | Deve usar localhost porque o browser não conhece | o DNS interno do Docker (backend).
NEXT_PUBLIC_BACKEND_URL=http://localhost:8000