JWT_SECRET=mysecretkey
JWT_REFRESH_SECRET=mysecretkey

DB_HOST=postgres
DB_PORT=5432,
DB_USER=postgres
DB_PASS=postgres
DB_NAME=blogdb
EMAIL_HOST=algumemail
EMAIL_PORT=porta_number
EMAIL_USER=algumuser
EMAIL_PASS=algumpassword
TOKEN_SECRET=token32bgenerated